File_Converter_-_File_to_Hex.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>a9faa3a0-0172-1000-4947-34fac4e94d07</groupId>
    <name>File Converter - File to Hex</name>
    <snippet>
        <processGroups>
            <id>beacd9cb-59c6-3944-0000-000000000000</id>
            <parentGroupId>d919dbaa-cde5-33b8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>2bc806b2-017a-3361-0000-000000000000</id>
                    <parentGroupId>beacd9cb-59c6-3944-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>beacd9cb-59c6-3944-0000-000000000000</groupId>
                        <id>0fdbeb35-a5cb-3bed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>00e8893c-c3a3-3813-96ca-3fae5fe45cde</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>beacd9cb-59c6-3944-0000-000000000000</groupId>
                        <id>4770de68-185e-3f7e-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2e775393-37d9-3673-0000-000000000000</id>
                    <parentGroupId>beacd9cb-59c6-3944-0000-000000000000</parentGroupId>
                    <versionedComponentId>ee13d667-c4e8-3a2e-b0b1-0a346e6dfede</versionedComponentId>
                    <backPressureDataSizeThreshold>10 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>beacd9cb-59c6-3944-0000-000000000000</groupId>
                        <id>148f33a5-d643-36bc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a1f63985-9665-3f08-912f-ed213893189b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>beacd9cb-59c6-3944-0000-000000000000</groupId>
                        <id>3e0fbfa0-f1aa-3304-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3ed544b3-cca1-340d-901d-f3683e25ce60</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3aec8e30-d850-383e-0000-000000000000</id>
                    <parentGroupId>beacd9cb-59c6-3944-0000-000000000000</parentGroupId>
                    <versionedComponentId>4bf9aebe-3db1-3873-ad53-2ff25dd4b675</versionedComponentId>
                    <backPressureDataSizeThreshold>10 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>beacd9cb-59c6-3944-0000-000000000000</groupId>
                        <id>3e0fbfa0-f1aa-3304-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>3ed544b3-cca1-340d-901d-f3683e25ce60</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>segments</selectedRelationships>
                    <source>
                        <groupId>beacd9cb-59c6-3944-0000-000000000000</groupId>
                        <id>0fdbeb35-a5cb-3bed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>00e8893c-c3a3-3813-96ca-3fae5fe45cde</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>86fd5cb6-ba57-37ef-0000-000000000000</id>
                    <parentGroupId>beacd9cb-59c6-3944-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>beacd9cb-59c6-3944-0000-000000000000</groupId>
                        <id>8bbfecb0-2f65-3207-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>beacd9cb-59c6-3944-0000-000000000000</groupId>
                        <id>148f33a5-d643-36bc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a1f63985-9665-3f08-912f-ed213893189b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>aaa55dd2-d385-3572-0000-000000000000</id>
                    <parentGroupId>beacd9cb-59c6-3944-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>10 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <bends>
                        <x>520.0</x>
                        <y>1579.6904296875</y>
                    </bends>
                    <bends>
                        <x>520.0</x>
                        <y>1579.6904296875</y>
                    </bends>
                    <destination>
                        <groupId>beacd9cb-59c6-3944-0000-000000000000</groupId>
                        <id>148f33a5-d643-36bc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a1f63985-9665-3f08-912f-ed213893189b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>beacd9cb-59c6-3944-0000-000000000000</groupId>
                        <id>148f33a5-d643-36bc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a1f63985-9665-3f08-912f-ed213893189b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>4770de68-185e-3f7e-0000-000000000000</id>
                    <parentGroupId>beacd9cb-59c6-3944-0000-000000000000</parentGroupId>
                    <position>
                        <x>96.0</x>
                        <y>1064.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Input</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                    <validationErrors>'Port 'Input'' is invalid because Port has no incoming connections</validationErrors>
                </inputPorts>
                <outputPorts>
                    <id>8bbfecb0-2f65-3207-0000-000000000000</id>
                    <parentGroupId>beacd9cb-59c6-3944-0000-000000000000</parentGroupId>
                    <position>
                        <x>96.0</x>
                        <y>1704.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Output</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                    <validationErrors>'Port 'Output'' is invalid because Port has no outgoing connections</validationErrors>
                </outputPorts>
                <processors>
                    <id>0fdbeb35-a5cb-3bed-0000-000000000000</id>
                    <parentGroupId>beacd9cb-59c6-3944-0000-000000000000</parentGroupId>
                    <position>
                        <x>40.0</x>
                        <y>1152.0</y>
                    </position>
                    <versionedComponentId>00e8893c-c3a3-3813-96ca-3fae5fe45cde</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Segment Size</key>
<value>
    <name>Segment Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Segment Size</key>
<value>512b</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SegmentContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>segments</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SegmentContent</type>
                </processors>
                <processors>
                    <id>148f33a5-d643-36bc-0000-000000000000</id>
                    <parentGroupId>beacd9cb-59c6-3944-0000-000000000000</parentGroupId>
                    <position>
                        <x>40.0</x>
                        <y>1520.0</y>
                    </position>
                    <versionedComponentId>a1f63985-9665-3f08-912f-ed213893189b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Merge Strategy</key>
<value>
    <name>Merge Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>
    <name>Merge Format</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>
    <name>Attribute Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
<value>
    <name>Correlation Attribute Name</name>
</value>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>
    <name>mergecontent-metadata-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>
    <name>Minimum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>
    <name>Maximum Number of Entries</name>
</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>
    <name>Minimum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
<value>
    <name>Maximum Group Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
<value>
    <name>Max Bin Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>
    <name>Maximum number of Bins</name>
</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>
    <name>Delimiter Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Header File</key>
<value>
    <name>Header File</name>
</value>
                            </entry>
                            <entry>
<key>Footer File</key>
<value>
    <name>Footer File</name>
</value>
                            </entry>
                            <entry>
<key>Demarcator File</key>
<value>
    <name>Demarcator File</name>
</value>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>
    <name>Compression Level</name>
</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>
    <name>Keep Path</name>
</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>
    <name>Tar Modified Time</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Merge Strategy</key>
<value>Defragment</value>
                            </entry>
                            <entry>
<key>Merge Format</key>
<value>Binary Concatenation</value>
                            </entry>
                            <entry>
<key>Attribute Strategy</key>
<value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
<key>Correlation Attribute Name</key>
                            </entry>
                            <entry>
<key>mergecontent-metadata-strategy</key>
<value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
<key>Minimum Number of Entries</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Maximum Number of Entries</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>Minimum Group Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum Group Size</key>
                            </entry>
                            <entry>
<key>Max Bin Age</key>
                            </entry>
                            <entry>
<key>Maximum number of Bins</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Delimiter Strategy</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Header File</key>
                            </entry>
                            <entry>
<key>Footer File</key>
                            </entry>
                            <entry>
<key>Demarcator File</key>
                            </entry>
                            <entry>
<key>Compression Level</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Keep Path</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Tar Modified Time</key>
<value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>3e0fbfa0-f1aa-3304-0000-000000000000</id>
                    <parentGroupId>beacd9cb-59c6-3944-0000-000000000000</parentGroupId>
                    <position>
                        <x>40.0</x>
                        <y>1336.0</y>
                    </position>
                    <versionedComponentId>3ed544b3-cca1-340d-901d-f3683e25ce60</versionedComponentId>
                    <bundle>
                        <artifact>nifi-groovyx-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>10</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>groovyx-script-file</key>
<value>
    <name>groovyx-script-file</name>
</value>
                            </entry>
                            <entry>
<key>groovyx-script-body</key>
<value>
    <name>groovyx-script-body</name>
</value>
                            </entry>
                            <entry>
<key>groovyx-failure-strategy</key>
<value>
    <name>groovyx-failure-strategy</name>
</value>
                            </entry>
                            <entry>
<key>groovyx-additional-classpath</key>
<value>
    <name>groovyx-additional-classpath</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>groovyx-script-file</key>
                            </entry>
                            <entry>
<key>groovyx-script-body</key>
<value>import java.io.DataInputStream
def flowFile = session.get()
if(!flowFile) return
def raw = ''
def aux = ''
boolean eof = false
session.read(flowFile, {inputStream -&gt;
  dis = new DataInputStream(inputStream)
  while (!eof) {
    try {
       aux = Integer.toHexString(dis.readUnsignedByte());
       raw = raw + aux.padLeft(2,'0');
    } catch (EOFException e) {
        eof = true;
    }
  }
} as InputStreamCallback)
flowFile.write("UTF-8", raw)
session.transfer(flowFile, REL_SUCCESS)</value>
                            </entry>
                            <entry>
<key>groovyx-failure-strategy</key>
<value>transfer to failure</value>
                            </entry>
                            <entry>
<key>groovyx-additional-classpath</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteGroovyScript</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.groovyx.ExecuteGroovyScript</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>File Converter (file-hexbinary)</name>
            <variables>
                <entry>
                    <key>sistemuser</key>
                    <value>admin</value>
                </entry>
                <entry>
                    <key>urlServidor</key>
                    <value>http://localhost:8081/</value>
                </entry>
                <entry>
                    <key>sistemsenha</key>
                    <value>projetos</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>09/30/2020 11:11:02 BRT</timestamp>
</template>
